*{
    background-color: #26324B;
}

.heading{
    flex: 1;
    text-align: center;
    color: white;
    margin-top: 120px;
    font-size: 40px;
}

.paragraph{
    flex: 1;
    font-size: 22px;
    color: #BCBCBC;
}

.buttons{
    flex: 3;
    margin-top: 0px;
}
.button1{
    
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 15px;
}

.button2{
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 15px;
}

.maindiv{
    height: 665px;
    display: flex;
}

.div1{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.div2{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div3{
    flex: 2;
    
}

.bimage{
    margin-top: 230px;
}

.image1{
    flex: 9;
    height: 400px;
    width: 600px;
    margin-left: -200px;
    margin-top: -950px;
}

.image2{
    flex: 1;
    height: 1px;
    width: 150px;
    margin-left: -10px; 
    margin-bottom: -30px;
}
